.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-container {
  display: none;
}

#image-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#answer-field {
  margin: 10px;
}

#submit-btn {
  margin-bottom: 10px;
}

#score-container {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

body {
  background-color: #202225;
  color: #fff;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0;
}

button {
  background-color: #7289da;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #677bc4;
}

input[type="text"] {
  padding: 10px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  width: 300px;
  max-width: 100%;
}

.final-screen {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.final-screen-content {
  background-color: #202225;
  color: #fff;
  width: 80%;
  max-width: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

#final-screen-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.final-screen h2 {
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.final-screen p {
  font-size: 24px;
  margin-bottom: 20px;
}

.final-score-green {
  color: limegreen;
}

.final-score-red {
  color: red;
}



.timer-box {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #7289da;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  z-index: 1;
}

.img-count-btn {
  margin-left: 10px;
}

#image-count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.image-container {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}


.answer-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.answer-btn {
  margin: 5px;
}
.correct-answer {
  color: green;
}

.wrong-answer {
  color: red;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
  color: black;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.game-mode-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.game-mode-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.game-mode-btn:hover {
  background-color: #45a049;
}

.continue-btn {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.continue-btn:hover {
  background-color: #0079a9;
}
.close-btn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.selected {
  background-color: #007bff;
  color: #ffffff;
}
#game-container {
  position: relative;
}

#timer-container,
#score-container {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 5px;
  background-color: #ffffff;
  opacity: 0.8;
}

#timer-container {
  position: absolute;
  top: 400px;
  right: 10px;
  color: black;
}

#score-container {
  position: right;
  top: 50px;
  right: 20px;
}